
 
  .red {
    color:red;
  }
  
  .bold {
    font-weight: bold;
  }

  .style {
    background-color: blue;
    color:white;
    font: inherit;
    border: 1px solid blue;
    padding: 8px;
  }

  .style red{
    background-color: red;
  }